h1 {
    text-align: center;
    color: cornflowerblue;
  }

.mainBanner {
    width: 100vw;
}

.fourZeroFourDog {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.placeImages {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
}

.largeNam {
    font-family: 'Quicksand', sans-serif;
    font-size: 10em;
    text-shadow: 5px 5px 4px gray;
    color: darkorange;
    font-weight: bold;
}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }